@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/Img/bg.jpg');
}

.left {
    position: absolute;
    left: 50px;
    top: -12px;
    display: inline-block;
    /* border: 2px red solid; */
}

.mid {
    width: 50%;
    margin: 20px 5px 20px 24%;
    /* border: 2px green solid; */
}

.left img {
    width: 101px;
    filter: invert(100%)
}

.left div {
    text-align: center;
    line-height: 0px;
    font-size: 25px;
}

.right {
    position: absolute;
    right: 34px;
    top: 32px;
    /* border: 2px yellow solid; */
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    font-size: 25px;
    display: inline-block;
}

.navbar li a {
    padding: 34px;
    color: white;
}

.navbar li a:hover {
    text-decoration: underline;
    color: gray;
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(63, 63, 63);
    text-decoration: underline;
}

.container {
    border: 2px solid white;
    margin: 105px 56%;
    padding: 75px;
    width: 33%;
    border-radius: 15px;
}

input[type="text"],
input[type="email"] {
    display: block;
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 14px auto;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 2px;
    border-radius: 15px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 23%;
    margin: auto;
    margin-top: 30px;
}